.cards-container{
    display: flex;
    max-width: fit-content;
    align-items: center;
    height: fit-content;
    background-color: #2b2b2b;
    border: 2px #1ed760;
    border-radius: 0.5rem;
    margin-left: 100px;
    margin-top: 20px;

    
    
}

.album-text{
    margin-left: 30px;
    color: white;
    font-family: "Poppins";
}

.title{
    font-size:20px;
}

.image-album{
    height: 100px;
    width:auto
}

.card_button-plus{
    font-size:30px;
    color: white;
}

.card_button-plus:hover{
    color:#1ed760;
    cursor: pointer;
}

.artist-album{
    font-size: 15px;
}